body{
	background: #aeaeae;
	font-family: 'Arapey', serif;
	font-size: 16px;
}
.title{
	text-align: center;
	font-weight: 700;
}
input, textarea{
	display:block;
	width:90%;
	margin:12px;
	padding: 0 8px;
}
hr{
	margin:10px;
}
#left, #center, #right{
	border: 2px solid black;
	border-radius: 5px; 
	padding:10px;
}
#left hr{
	display: none;
}
.dates{
	display: inline-block;
}
input.dates{
	width: 40%;
}
.moduleHeading{
	font-size: 24px;
}
.addbtn{
	margin-top: 8px;
}